.input-post {
    margin: 10px;
    max-width: 390px;
    min-width: 390px;

    min-height: 450px;
    max-height: 450px;

    background-color:rgb(236, 238, 238);

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;

    padding: 10px;
   
    text-align: start;

    border-radius: 25px;
}